.labels{
    width: 30%;
    margin: auto;
    padding: 2%;
    background: purple;
    border: 2px solid cyan;
    margin-bottom: 1%;
    margin-top: 1%;
}

select{
    width: 30%;
    margin: auto;
    text-align: center
}

.orderMenu{
    text-align: center;
    padding: 2%;
}

#myOrder{
    text-align: center;
    font-size: 14px;
    border: 2px solid black;
    padding: 2%;
    background: rgb(190,190,190);
    
}

.buttons{
    padding: 2%;
}

#orderPlacement{
    text-align: center;
    font-size: 14px;
    border: 2px solid black;
    padding: 2%;
    background: rgb(190,190,190);
}