/*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
* {
    @apply italic;
  }
  html,
  body {
    @apply w-full h-full m-0;
  }
  body {
    background: white;
    font-family: 'Oxygen', sans-serif;
    font-size: large;
    font-weight: 600;
  }
  footer {
    @apply w-full text-center text-[9px] absolute mt-[2%] p-[1%] border-[10px] border-solid border-[black];
    background: rgba(136, 39, 136);
  }

  .nav {
    @apply text-right h-[73px] leading-[70px] bg-[black] border-b-[white] border-b border-solid w-[100%];
  }
  .menu {
    @apply ml-0 mr-[10px] my-0 h-[80px];
  }
  .menu a {
    @apply clear-right no-underline text-[white] leading-[70px] uppercase font-[bold] mr-[5%] mx-2.5 my-0 px-5 py-[27px] hover:transition-[0.5s] h-auto;
    background: black;
  }
  .menu a:hover {
    background: rgb(178, 63, 178, 0.8);
  }
  #logo {
    @apply float-left w-[5%] h-[70px] ml-[10%];
  }
  label {
    @apply text-[26px] leading-[70px] hidden text-[white] ml-0 mr-10 my-0;
  }
  #toggle {
    @apply hidden;
  }
  .wrapper {
    @apply w-[90%] overflow-hidden mb-[2%] m-auto border-[solid] border-[cyan];
    background:white;
  }
  #myIMG {
    @apply w-3/12 float-left m-[2%];
  }
  .wrapper a {
    @apply no-underline uppercase text-[black] hover:text-[cyan];
  }
  #aboutMe {
    @apply w-3/5 flex text-center text-lg font-[bold] mt-[5%] p-[2%] rounded-sm border-2 border-solid border-[black];
    background: rgb(178, 63, 178, 0.8);
    font-family: 'Oxygen', sans-serif;
  }
  .para {
    @apply w-[90%] overflow-hidden flex text-center my-[2%] m-auto p-[2%] rounded-sm border-2 border-solid border-[black];
    background: white;
  }
  table,
  tr,
  td {
    @apply text-center w-[90%] border mx-auto my-[2%] p-[2%] border-solid border-[black];
    background: rgb(200, 200, 200);
  }
  .section-title {
    @apply w-[95%] text-2xl mx-auto my-[2%] p-[2%] border-2 border-solid border-[black];
    text-align-last: center;
    background: purple;
  }
  .coffee-menu {
    background: rgb(60, 60, 60);
  }
  @media only screen and (max-width: 800px) {
    label {
      @apply block cursor-pointer w-[26px] float-right;
    }
    .nav {
      @apply text-center;
    }
    .menu {
      @apply text-center w-full hidden float-right clear-right w-full mb-[5%] m-0;
    }
    .menu a {
      @apply block w-full text-center m-0 border-y-[white] border-b border-solid border-t;
    }
    #toggle:checked + .menu {
      @apply block;
    }
  }
